<%= form_with(model: mug, local: true) do |form| %>
  <% if mug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mug.errors.count, "error") %> prohibited this mug from being saved:</h2>

      <ul>
      <% mug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :mug_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :mug_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :mug_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
